@font-face {
    font-family: Ida;
    src: url('Ida-Narrow.ttf') format('ttf');
}  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.title {
    margin-top: 75px;
    margin-left: 125px;
    margin-bottom: 25px;
    font-size: 64px;
    font-weight: bold;
}

.summary-left {
    margin-left: 128px;
    font-size: 18px;
}

.summary-right {
    margin-right: 128px;
    font-size: 18px;
}

.text-right {
    text-align: right;
}

@media screen and (max-width: 600px) {
    .title {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;
    }
    .summary-left {
        margin-left: 16px;
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) and (max-width: 769px) {
    .title {
        margin-top: 35px;
        margin-left: 50px;
        margin-bottom: 25px;
        font-size: 48px;
        font-weight: bold;
    }
    .summary-left {
        margin-left: 52px;
        font-size: 16px;
    }
}
