body {
    margin: 0;
    background-color: #212529;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    overflow: hidden;
    scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar {
    display: none;
}

body, html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.display-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    scroll-snap-align: start; 
    overflow: hidden;
    text-align: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 100px;
    height: auto;
}

.content {
    text-align: center;
    opacity: 1;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.25rem;
    max-width: 800px;
}

#section1 {
    background-color: #212529;
}

#section2 {
    background-color: #495057;
}

#section3 {
    background-color: #212529;
}

#section4 {
    background-color: #495057;
}

/* @media screen and (max-width: 600px) {
    .title {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;
    }
    .summary-left {
        margin-left: 16px;
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) and (max-width: 769px) {
    .title {
        margin-top: 35px;
        margin-left: 50px;
        margin-bottom: 25px;
        font-size: 48px;
        font-weight: bold;
    }
    .summary-left {
        margin-left: 52px;
        font-size: 16px;
    }
} */
