body {
    margin: 0;
    background-color: #212529;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    overflow: hidden;
    scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar {
    display: none;
}

body, html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.display-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    scroll-snap-align: start; 
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 100px;
    height: auto;
    z-index: 99;
}

.title-right-bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: auto;
    z-index: 99;
}

content-left {
    text-align: left;
    opacity: 1;
}

.content {
    text-align: center;
    opacity: 1;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.25rem;
    max-width: 800px;
}

.content-left p {
    font-size: 1.25rem;
    max-width: 800px;
}

#section1 {
    background-color: #212529;
}

#section2 {
    background-color: #495057;
}

#section3 {
    background-color: #212529;
}

#section4 {
    background-color: #495057;
}

#section5 {
    background-color: #212529;
    height: 30vh;
}
